@model ENT.clsPersona

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalles</title>
</head>
<body>
    <div> 

        <p>
            <h1>Hola, @Session["nick"]</h1>
        </p>

        <hr />

        <p>
            @Html.DisplayNameFor(model => model.nombre)
            :
            @Html.DisplayFor(model => model.nombre)
        </p>

        <p>
            @Html.DisplayNameFor(model => model.apellidos)
            :
            @Html.DisplayFor(model => model.apellidos)
        </p>

        <p>
            @Html.DisplayNameFor(model => model.fechaNac)
            :
            @Html.DisplayFor(model => model.fechaNac)
        </p>

        <p>
            @Html.DisplayNameFor(model => model.direccion)
            :
            @Html.DisplayFor(model => model.direccion)
        </p>

        <p>
            @Html.DisplayNameFor(model => model.telefono)
            :
            @Html.DisplayFor(model => model.telefono)
        </p>

    </div>

    <p>
        @Html.ActionLink("Volver", "Index")
    </p>

</body>
</html>
